#sabrina-placeholder > * {
    display: block;
    max-width: 70%;
    border-radius: 5px;
    margin: 0.8em 0;
}

#sabrina-placeholder > img {
    padding: 6px;
}

#sabrina-placeholder > p, #sabrina-placeholder > a {
    padding: 2px 6px;
}

#sabrina-placeholder > .sabrina-says {
    margin-right: auto;
    background-color: aqua;
    text-align: left;
}

#sabrina-placeholder > .user-says {
    margin-left: auto;
    background-color: coral;
    text-align: right;
}
