<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stanford.thingengine.engine">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/sabrina"
        android:label="@string/app_name"
        android:theme="@style/Stanford">
        <service
            android:name=".service.EngineService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".AutoStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DeviceConfigureChooseKindActivity"
            android:parentActivityName=".ui.MainActivity"
            />
        <activity
            android:name=".ui.OAuthActivity"
            android:parentActivityName=".ui.DeviceConfigureChooseKindActivity"
            />
        <activity
            android:name=".ui.DeviceCreateFormActivity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ui.DeviceConfigureChooseKindActivity"
            />
    </application>

</manifest>